==
function onStart()
{
$this['years'] = Carbon\Carbon::now()->year - 2001;
}
==
{% set url   = __SELF__.catalog_url %}
{% set count = __SELF__.count %}

<!-- Statistic Bar -->
<section class="bg-primary oh">
    <div class="shell">
        <div class="range range-custom-bordered-small">
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter">{{ years }}</div>
                    <p class="counter-box-header">{{ "Years of Animal Shelter"|_ }}</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter">{{ count.all | raw }}</div>
                    <p class="counter-box-header">{{ "Pets Adopted"|_ }}</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-12 cell-md-3 height-fill">
                <div class="col-decoration-skew">
                    <div class="col-decoration-skew-inner">
                        <h2>{{ "Do not"|_ }}</h2>
                        <h5>{{ "Remain Indifferent"|_ }}</h5><a class="btn btn-trout-inverse btn-effect-anis btn-offset-medium" href="make-a-gift-online.html">{{ "donate now"|_ }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>