<img class="img-responsive"
     src="{{ 'images/337622b_1348728038.jpg'|media }}" alt=""
     width="770" height="485">
<p>Не оплачены:</p>
<ul>
    <li>- 18 011,08 руб., вакцины Nobivac 65 доз, ООО "Торговый Дом "Кронвет", товарная накладная
        1464 от 10.05.2016 г.
    </li>
    <li>- 71 245,12 руб., вакцины Nobivac 382 дозы, ООО "Торговый Дом "Кронвет", товарная накладная
        1465 от 10.05.2016 г.
    </li>
    <li>- 44 359,42 руб., вакцины Nobivac 440 доз, ООО "Торговый Дом "Кронвет", товарная накладная
        1466 от 10.05.2016 г.
    </li>
    <li>- 6 785,61 руб.,ветеринарные препараты, ООО "ТД Ветпром", товарная накладная 2166 от
        11.05.2016 г.
    </li>
    <li>- 47 299,10 руб., лечебные корма для собак и кошек, ООО "София", товарная накладная
        15СФ-7691 от 10.05.2016 г.
    </li>
    <li>- 8 564,80 руб., салфетки, нити, перчатки, ООО "Бальф", товарная накладная 1224 от
        16.05.2016 г.
    </li>
</ul>
<p>На данный момент долг перед поставщиками составляет 196 265,13 руб.</p>
<p>Счета на большие суммы можно оплачивать по частям!</p>
<p>Помощь можно привозить в приют на Большой Смоленский пр. 9 или перечислять любым, удобным для вас
    способом.</p>
<p>Тел. приюта 365-69-69, 8-921-91-71-999</p>
<p>Реквизиты для помощи - http://www.priut.ru/page422.html</p>
<p>О переводе средств просьба сообщать на имейл info@priut.ru.</p>
<p>Приход (на 08.07.2016 г.): 1 019 488,41 руб.</p>
<ul>
    <li>1 000 руб. ПСКБ, Анастасия Душенковская</li>
    <li>2 000 руб. р.сч., Лариса Яковлева и Резон Консалт</li>
    <li>1 000 руб. СПб, Денис Чумаков</li>
    <li>900 руб. ЯК, от Наталии, Екатерины и Инны</li>
    <li>1 000 руб. ЯК, Ириша Матюшова</li>
    <li>500 руб. СПб, Рената Иванова</li>
    <li>2 000 руб. р.счет Лариса Яковлева и ООО "Резон-Консалт"</li>
    <li>2 000 руб. р.счет Лариса Яковлева и ООО "Резон"</li>
    <li>2 000 руб. СПб Телегина Марина</li>
    <li>1 000 руб. ПСКБ Анастасия Душенковская</li>
    <li>4 000 руб. Балтика Елена Полунина</li>
    <li>500 руб. ЯК от Наталии, Екатерины, Инны</li>
    <li>500 руб. Деньги.онлайн Светлана Ануфриева</li>
    <li>45 343,06 руб. пожертвования от различных физических и юридических лиц</li>
    <li>29 873, 34 руб. пожертвования от различных физических и юридических лиц
    </li>
    <li>225 394,56 руб. пожертвования от различных физических и юридических лиц
    </li>
    <li>85 212,50 руб. пожертвования от различных физических и юридических лиц
    </li>
    <li>306 735,33 руб. пожертвования от различных физических и юридических лиц
    </li>
    <li>3 000,00 руб. р.счет, 29.08 Наталья Лагузова
    </li>
    <li>20 000,00 руб. р.счет 02.09 Ореховская Лаура
    </li>
    <li>14 695 руб. р.счет 11.09 Геворков Дмитрий
    </li>
    <li>170 858,70 руб. пожертвования от различных физических и юридических лиц
    </li>
    <li>30 916,25 руб. пожертвования от различных физических и юридических лиц
    </li>
    <li>100 000 руб. р. счет от Александры Евгеньевны А.
    </li>
    <b>ОПЛАТИЛИ:</b><br/>
    - ООО "Южный Синтез" - 49 000 руб. Благодарим Евгения!<br/>
    - ООО "Ветеринарное оборудование", расходные материалы для клиники - 25 633,8 руб.<br/>
    - ООО "Ветеринарное оборудование", рентгеновская пленка - 6 910 руб.<br/>
    - НПФ "Кронвет", антигельминтные препараты - 12 144,91 руб.<br/>
    - НПФ "Кронвет", вет.паспорта - 868,4 руб.<br/>
    - НПФ "Кронвет", катетеры - 6 753,08 руб.<br/>
    - ООО "Росинка-Полюстрово", вода - 1 760 руб., 1 600 руб., 1 600 руб., 1 920 руб.<br/>
    - ООО "Иванко", корм для собак - 5 979,75 руб., 8 162,55 руб.<br/>
    - ООО "ПНС", корм для кошек - 4 994,88 руб.<br/>
    - ТД "Кронвет", вакцины - 34 523,44 руб.<br/>
    - ООО "Ольвекс диагностикум", хим.реактивы, расх.материалы - 551,89 руб., 4 530,55 руб.<br/>
    - ООО "Имэкслайн", медикаменты - 29 873,34 руб.<br/>
    - ТД "Кронвет", антигельминтные средства - 26 749,30 руб.<br/>
    - ТД "Кронвет", антигельминтные средства - 31.207,52 руб.<br/>
    - ТД "Кронвет", вакцины - 29 101, 16 руб.<br/>
    - ТД "Кронвет", вакцины - 31 542, 70 руб.<br/>
    - ТД "Кронвет", вакцины - 30 098,85 руб.<br/>
    - ТД "Кронвет", вакцины - 29 101,16 руб.<br/>
    - ТД "Кронвет", вет. паспорта - 1 345,20 руб.<br/>
    - ТД "Кронвет", пропофол - 15 500,00 руб.<br/>
    - ТД "Кронвет", микрочипы - 28 529,45 руб.<br/>
    - ЗАО "Вектор-Бест-Балтика" - 2 219,20 руб.<br/>
    - ООО "Бальф", шовный материал - 85 212,50 руб.<br/>
    - ООО "Южный Синтез", сухой корм для собак - 196 750,00 руб.<br/>
    - ООО "Иванко", консервы для собак - 24 225,60 руб.<br/>
    - ООО "Иванко", сухой корм для собак - 30 167,83 руб.<br/>
    - ООО "Бальф", рентгеновская пленка - 32 460,00 руб.<br/>
    - ООО "Бальф", шовные материалы - 23 131.90 руб.<br/>
    - ООО "Торговый дом "Кронвет", вакцина - 22 975,91 руб.<br/>
    - ООО "Ветеринарное оборудование", перчатки, катетеры, салфетки - 14 695 руб.<br/>
    - ООО "Торговый дом "Кронвет", вакцина - 36 320,40 руб.<br/>
    - ООО "Торговый дом "Кронвет", вакцина - 66 091,92 руб.<br/>
    - ООО "Торговый дом "Кронвет", вакцина - 13 889,19 руб.<br/>
    - ООО "Торговый дом "Кронвет", сыворотка - 12 841,06 руб.<br/>
    - ООО "Торговый дом "Кронвет", антигельминтные препараты - 41 716,13 руб.<br/>
    - ООО "Ветеринарное оборудование, катетеры - 10 000,00 руб.<br/>
    - ООО "Ветеринарное оборудование", проявитель, фиксаж, шприцы, магистрали - 8 056,25 руб.<br/>
    - ООО "Ветеринарное оборудование", пильное полотно, винт - 10 900 руб.<br/>
    - ООО "Компания Аптекарь", медикаменты - 1 960 руб..<br/>
    - ООО "Бальф", мет. конструкции - 10 500 руб.<br/>
    - ООО "Иванко", корм для собак, наполнитель - 13 018,48 руб.<br/>
    - ООО "Иванко", корм для собак - 2 608,18 руб.<br/>
    - ООО "Иванко", корм для собак - 2 608,18 руб.<br/>
    - ООО "Иванко", корм для собак - 3 016,78 руб.<br/>
    - ООО "Иванко", корм для собак - 3 016,78 руб.<br/>
    - ООО&nbsp; "София", корм для собак - 3 370,00 руб.<br/>
    - ООО "Иванко", ошейники от блох для кошек и собак - 3 601,74 руб.<br/>
    - ООО "София", корма для собак и кошек - 61 846,85 руб.<br/>
</ul>
<img class="img-responsive"
     src="{{ 'images/thanks.jpg'|media }}" alt=""
     width="770" height="485">