<div class="cell-xs-12 food">
    <h4>Для собак</h4>
    <div class="range spacing-negative-1">
        <div class="cell-md-12">
            <a class="thumbnail-minimal" href="http://zoo812.ru/products/pronature-original-28-puppy-large-breeds-suhoj-korm-dlya-schenkov-krupnyh-porod-s-tsyplenkom">
                <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal"
                                                         src="http://zoo812.ru/files/products/102_560_Pronature_Chien272_ClassiqueCroissance_zoo812_ru.800x600w.jpg?c5bf8d28c3a1a5ccd9f478aab237365c" alt="" width="96"
                                                         height="107">
                </div>
                <div class="thumbnail-minimal-body">
                    <p class="thumbnail-minimal-title">Pronature Original 28 Puppy Large Breeds</p>
                    <p class="thumbnail-minimal-subtitle">
                        корм для щенков крупных пород (цыпленок)
                        Сбалансированный корм с курицей для щенков крупных пород от 2 до 14 месяцев. Этот вкусный рецепт
                        Pronature Original для щенков крупных пород с курицей и рисом восстановит силы и удовлетворит
                        все потребности растущего организма. Это идеальное сочетание питательных веществ для здоровья и
                        оптимального роста!
                    </p>
                </div>
            </a>
            <a class="thumbnail-minimal" href="http://zoo812.ru/products/pronature-original-27-puppy-all-breeds-bezzernovoj-suhoj-korm-dlya-schenkov-s-tsyplenkom">
                <div class="thumbnail-minimal-left m-t-3"><img class="thumbnail-minimal-image-minimal"
                                                         src="http://zoo812.ru/files/products/102_555_Pronature_Chien272_DeluxeCroissance_zoo812_ru.800x600w.jpg?19925efe631498793ce052c5e3672e04" alt="" width="96"
                                                         height="107">
                </div>
                <div class="thumbnail-minimal-body">
                    <p class="thumbnail-minimal-title">Pronature Original 27 Puppy All Breeds</p>
                    <p class="thumbnail-minimal-subtitle">корм для щенков без кукурузы, пшеницы и сои (цыпленок)
                        Сбалансированный корм для щенков всех пород от 2 до 12 месяцев; с курицей, без кукурузы, пшеницы и сои. Для щенков с чувствительным желудком. Этот восхитительный рецепт де-люкс с курицей и шпинатом оптимально усваивается. Не содержит пшеницы, кукурузы и сои. Удовлетворит любой вкус и аппетит!</p>
                </div>
            </a>
            <a class="thumbnail-minimal" href="http://zoo812.ru/products/pronature-original-27-puppy-all-breeds-bezzernovoj-suhoj-korm-dlya-schenkov-s-tsyplenkom">
                <div class="thumbnail-minimal-left m-t-3"><img class="thumbnail-minimal-image-minimal"
                                                               src="http://zoo812.ru/files/products/102_555_Pronature_Chien272_DeluxeCroissance_zoo812_ru.800x600w.jpg?19925efe631498793ce052c5e3672e04" alt="" width="96"
                                                               height="107">
                </div>
                <div class="thumbnail-minimal-body">
                    <p class="thumbnail-minimal-title">Pronature Original 27 Puppy All Breeds</p>
                    <p class="thumbnail-minimal-subtitle">корм для щенков без кукурузы, пшеницы и сои (цыпленок)
                        Сбалансированный корм для щенков всех пород от 2 до 12 месяцев; с курицей, без кукурузы, пшеницы и сои. Для щенков с чувствительным желудком. Этот восхитительный рецепт де-люкс с курицей и шпинатом оптимально усваивается. Не содержит пшеницы, кукурузы и сои. Удовлетворит любой вкус и аппетит!</p>
                </div>
            </a>
            <a class="thumbnail-minimal" href="http://zoo812.ru/products/pronature-original-27-puppy-all-breeds-bezzernovoj-suhoj-korm-dlya-schenkov-s-tsyplenkom">
                <div class="thumbnail-minimal-left m-t-3"><img class="thumbnail-minimal-image-minimal"
                                                               src="http://zoo812.ru/files/products/102_555_Pronature_Chien272_DeluxeCroissance_zoo812_ru.800x600w.jpg?19925efe631498793ce052c5e3672e04" alt="" width="96"
                                                               height="107">
                </div>
                <div class="thumbnail-minimal-body">
                    <p class="thumbnail-minimal-title">Pronature Original 27 Puppy All Breeds</p>
                    <p class="thumbnail-minimal-subtitle">корм для щенков без кукурузы, пшеницы и сои (цыпленок)
                        Сбалансированный корм для щенков всех пород от 2 до 12 месяцев; с курицей, без кукурузы, пшеницы и сои. Для щенков с чувствительным желудком. Этот восхитительный рецепт де-люкс с курицей и шпинатом оптимально усваивается. Не содержит пшеницы, кукурузы и сои. Удовлетворит любой вкус и аппетит!</p>
                </div>
            </a>
            <a class="thumbnail-minimal" href="http://zoo812.ru/products/pronature-original-27-puppy-all-breeds-bezzernovoj-suhoj-korm-dlya-schenkov-s-tsyplenkom">
                <div class="thumbnail-minimal-left m-t-3"><img class="thumbnail-minimal-image-minimal"
                                                               src="http://zoo812.ru/files/products/102_555_Pronature_Chien272_DeluxeCroissance_zoo812_ru.800x600w.jpg?19925efe631498793ce052c5e3672e04" alt="" width="96"
                                                               height="107">
                </div>
                <div class="thumbnail-minimal-body">
                    <p class="thumbnail-minimal-title">Pronature Original 27 Puppy All Breeds</p>
                    <p class="thumbnail-minimal-subtitle">корм для щенков без кукурузы, пшеницы и сои (цыпленок)
                        Сбалансированный корм для щенков всех пород от 2 до 12 месяцев; с курицей, без кукурузы, пшеницы и сои. Для щенков с чувствительным желудком. Этот восхитительный рецепт де-люкс с курицей и шпинатом оптимально усваивается. Не содержит пшеницы, кукурузы и сои. Удовлетворит любой вкус и аппетит!</p>
                </div>
            </a>
            <a class="thumbnail-minimal" href="http://zoo812.ru/products/pronature-original-27-puppy-all-breeds-bezzernovoj-suhoj-korm-dlya-schenkov-s-tsyplenkom">
                <div class="thumbnail-minimal-left m-t-3"><img class="thumbnail-minimal-image-minimal"
                                                               src="http://zoo812.ru/files/products/102_555_Pronature_Chien272_DeluxeCroissance_zoo812_ru.800x600w.jpg?19925efe631498793ce052c5e3672e04" alt="" width="96"
                                                               height="107">
                </div>
                <div class="thumbnail-minimal-body">
                    <p class="thumbnail-minimal-title">Pronature Original 27 Puppy All Breeds</p>
                    <p class="thumbnail-minimal-subtitle">корм для щенков без кукурузы, пшеницы и сои (цыпленок)
                        Сбалансированный корм для щенков всех пород от 2 до 12 месяцев; с курицей, без кукурузы, пшеницы и сои. Для щенков с чувствительным желудком. Этот восхитительный рецепт де-люкс с курицей и шпинатом оптимально усваивается. Не содержит пшеницы, кукурузы и сои. Удовлетворит любой вкус и аппетит!</p>
                </div>
            </a>
        </div>
    </div>
</div>