<!-- Recent news -->
<section class="section-sm bg-white text-center">
    <div class="shell">
        <h2>recent news</h2>
        <div class="range range-sm-center spacing-30">
            <div class="cell-sm-10 cell-md-6">
                <!-- Post boxed-->
                <article class="post-boxed">
                    <div class="post-boxed-image-wrap"><img class="post-boxed-image" src="{{ 'assets/images/home1-10-572x333.jpg'|theme }}" alt="" width="572" height="333"/>
                    </div>
                    <div class="post-boxed-body">
                        <p class="post-boxed-title"><a href="single-post.html">Top 4 Dog Breeds You Can Easily Take to Work</a></p>
                        <div class="post-boxed-text">
                            <p>A dog in the workplace provides many positive benefits. However, before you decide to bring your dog to work with you check your company policies...</p>
                        </div>
                        <div class="post-boxed-footer">
                            <ul class="post-meta">
                                <li><span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                    <time datetime="2016-01-01">February 10, 2016</time>
                                </li>
                                <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>23</span></li>
                                <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>6</span></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cell-sm-10 cell-md-6">
                <!-- Post boxed-->
                <article class="post-boxed post-boxed-xs-horizontal post-boxed-blue-marguerite">
                    <div class="post-boxed-image-wrap"><img class="post-boxed-image" src="{{ 'assets/images/home1-11-237x268.jpg'|theme }}" alt="" width="237" height="268"/>
                    </div>
                    <div class="post-boxed-body">
                        <p class="post-boxed-title"><a href="single-post.html">Wellness Care Plans for Your Pets</a></p>
                        <div class="post-boxed-text">
                            <p>Have you ever considered enrolling your pet in a wellness care plan? These plans are quickly gaining popularity, and with good reason...</p>
                        </div>
                        <div class="post-boxed-footer">
                            <ul class="post-meta">
                                <li><span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                    <time datetime="2016-01-01">February 10, 2016</time>
                                </li>
                                <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>23</span></li>
                                <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>6</span></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <!-- Post boxed-->
                <article class="post-boxed post-boxed-xs-horizontal post-boxed-tan-hide">
                    <div class="post-boxed-image-wrap"><img class="post-boxed-image" src="{{ 'assets/images/home1-12-237x268.jpg'|theme }}" alt="" width="237" height="268"/>
                    </div>
                    <div class="post-boxed-body">
                        <p class="post-boxed-title"><a href="single-post.html">Top 5 Most Affectionate Cats</a></p>
                        <div class="post-boxed-text">
                            <p>Contrary to popular belief, not all cats are the epitome of indifference. Some cat breeds are among the most affectionate and loving pets...</p>
                        </div>
                        <div class="post-boxed-footer">
                            <ul class="post-meta">
                                <li><span class="icon icon-xs icon-tan-hide material-icons-access_time"></span>
                                    <time datetime="2016-01-01">February 10, 2016</time>
                                </li>
                                <li><span class="icon icon-xs icon-tan-hide mdi mdi-thumb-up"></span><span>23</span></li>
                                <li><a href="single-post.html"><span class="icon icon-xs icon-tan-hide mdi mdi-comment-outline"></span><span>6</span></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>