<section>
    <div class="swiper-bg-wrap swiper-style-1 bg-gray-dark">
        <div class="swiper-container swiper-slider swiper-bg swiper-height-1" data-autoplay="3500" data-slide-effect="fade">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-slide-bg="{{ 'assets/images/slider-1-slide-1-1920x850.jpg'|theme }}"></div>
                <div class="swiper-slide" data-slide-bg="{{ 'assets/images/slider-1-slide-2-1920x850.jpg'|theme }}"></div>
                <div class="swiper-slide" data-slide-bg="{{ 'assets/images/slider-1-slide-3-1920x850.jpg'|theme }}"></div>
            </div>
            <!-- Swiper Navigation-->
            <div class="swiper-button-prev"><span>Prev</span></div>
            <div class="swiper-button-next"><span>Next</span></div>
            <!-- Swiper pagination-->
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-bg-content">
            <div class="jumbotron-custom jumbotron-custom-variant-1 context-dark">
                <div class="shell">
                    <div class="jumbotron-custom-inner">
                        <div class="complex-text wow fadeInUpSmall" data-wow-duration=".75s">
                            <p class="h1 complex-text-main">save</p>
                            <div class="complex-text-aside">
                                <p class="h4 mark mark-alternate"> a cute</p>
                                <p class="h2">life</p>
                            </div>
                        </div>
                        <p class="h3-alternate wow fadeInUpSmall" data-wow-delay=".1s" data-wow-duration=".75s">adopt a homeless pet</p><a class="btn btn-blue-marguerite btn-effect-anis wow fadeInUpSmall" href="adopt-a-pet.html" data-wow-delay="0.2s" data-wow-duration=".75s">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
