<ul class="rd-navbar-nav">
    <li class="active">
        <a href="/">{{ "Home"|_ }}</a>
    </li>
    <li>
        <a href="/news/">{{ "News"|_ }}</a>
    </li>
    <li>
        <a href="/pets/adopt/">{{ "Adopt a pet"|_ }}</a>

    </li>
    <li>
        <a href="/pets/catalog/">{{ "Our pets"|_ }}</a>
        <ul class="rd-navbar-dropdown tabs-nav">
            <li>
                <a href="/pets/catalog/?filter=14days">{{ "For 14 days"|_ }}</a>
            </li>
            <li>
                <a href="/pets/catalog/?type=Cat">{{ "Adopt cats"|_ }}</a>
            </li>
            <li>
                <a href="/pets/catalog/?type=Dog">{{ "Adopt dogs"|_ }}</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/static/about/about">{{ "About us"|_ }}</a>
        <ul class="rd-navbar-dropdown tabs-nav">
            <li>
                <a href="/static/about/documents">{{ "Documents"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/howto">{{ "HowTo"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/faq">{{ "FAQ"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/activity">{{ "Activity"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/experience">{{ "Experience"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/pictures">{{ "Pictures"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/videos">{{ "Videos"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/thanks">{{ "Thanks"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/achievements">{{ "Achievements"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/reports">{{ "Reports"|_ }}</a>
            </li>
            <li>
                <a href="/static/about/vacancies/">{{ "Vacancies"|_ }}</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/static/donate/">{{ "Help us"|_ }}</a>
        <ul class="rd-navbar-dropdown tabs-nav">
            <li>
                <a href="/static/help/donate/">{{ "Financial Help"|_ }}</a>
            </li>
            <li>
                <a href="/static/help/non-financial/">{{ "Non-Financial Help"|_ }}</a>
            </li>
            <li>
                <a href="/static/help/direct/">{{ "Direct Help"|_ }}</a>
            </li>
            <li>
                <a href="/static/help/volunteering/">{{ "Volunteering"|_ }}</a>
            </li>
        </ul>
    </li>
</ul>