<div class="range range-sm-center spacing-30 text-gray-darker">
    <div class="cell-sm-6 cell-md-6 cell-lg-6">
        <p><b>Приют в Приморском районе:</b></p>
        <p>Благотворительный фонд социальных программ
            «Помощь бездомным собакам»</p>
        <p>БФ «Помощь бездомным собакам»</p>
        <p>ДЛЯ РУБЛЕЙ</p>
        <p>Наименование платежа: "Добровольное пожертвование. НДС не облагается." либо
            "Взнос на осуществление благотворительной деятельности. НДС не облагается"
        </p>
        <p><b>АО Банк "ПСКБ"</b></p>
        ИНН 7814160214<br/>
        КПП 781401001<br/>
        ОГРН 1097800006842<br/>
        ОКПО 64190191<br/>
        ОКОГУ 61300<br/>
        ОКТМО 40325000<br/>
        Расчетный счет 40703810600000019543<br/>
        Кор. счет 30101810000000000852<br/>
        БИК 044030852<br/>
        АО Банк «ПСКБ» г. Санкт-Петербурга<br/>
        Юр. адрес: 197371, г. Санкт-Петербург, Комендантский пр, д.23, к.2, лит.А<br/>
        <a href="#">Бланк в формате Word (.doc)</a><br/>
        <a href="#">Как распечатать бланк извещения</a><br/>

        <p><b>ПАО "Санкт-Петербург"</b></p>
        ИНН 7814160214<br/>
        КПП 781401001<br/>
        ОГРН 1097800006842<br/>
        ОКПО 64190191<br/>
        ОКОГУ 61300<br/>
        ОКОПФ 88<br/>
        ОКАТО 40270565000<br/>
        ОКВЭД 64.99<br/>
        Расчетный счет 40703810647000003029<br/>
        Кор. счет 30101810900000000790<br/>
        БИК 044030790<br/>
        ДО "Пролетарский" ПАО Банк «Санкт-Петербург»<br/>
    </div>
    <div class="cell-sm-6 cell-md-6 cell-lg-6 text-left text-gray-darker">
        <p><b>Приют в Невском районе:</b></p>
        <p>Автономная некоммерческая организация по оказанию услуг в области содержания
            животных
        </p>
        <p>"Помощь бездомным собакам"
        </p>
        <p>АНО «Помощь бездомным собакам»
        </p>
        <p>ДЛЯ РУБЛЕЙ</p>
        <p> Наименование платежа: "Добровольное пожертвование. НДС не облагается." либо
        </p>
        <p>"Взнос на осуществление благотворительной деятельности. НДС не облагается"
        </p>
        <p><b>АО Банк "ПСКБ"</b></p>
        ИНН 7814159522<br/>
        КПП 781101001<br/>
        ОГРН 1087800001970<br/>
        ОКПО 85504417<br/>
        ОКВЭД 01.62; 75:00<br/>
        ОКТМО 40378000<br/>
        Р/с №40703810600000015437<br/>
        БИК 044030852<br/>
        К/с 30101810000000000852<br/>
        АО Банк «ПСКБ» г. Санкт-Петербург<br/>
        Адрес местонахождения: 192148, г. Санкт-Петербург, Большой Смоленский пр. д.7-9,
        литер А<br/>
        <a href="#">Бланк в формате Word (.doc)</a><br/>
        <a href="#">Как распечатать бланк извещения</a><br/>
    </div>
</div>