<div class="range range-sm-center spacing-30">
    <div class="cell-sm-6 cell-md-6 cell-lg-6">
        <img class="img-responsive" src="{{ 'images/tIjbw6Pki_0.jpg'|media }}" alt=""
             width="370" height="272">
    </div>
    <div class="cell-sm-6 cell-md-6 cell-lg-6 text-left text-gray-darker">
        <p>Денежное пожертвование можно оставить в:</p>
        <ul class="ordered-list">
            <li> зоомагазинах сети Золотая рыбка,</li>
            <li> зоомагазине Котейко&Собачко и Ко,</li>
            <li> книжных магазинах сети Буквоед,</li>
            <li> магазине натуральных продуктов "EatEco".</li>
        </ul>
        <p>Ящики для сбора пожертвований установлены на кассах.</p>
        <p>Магазины расположены во всех районах города, что дает отличную возможность
            совместить поход за покупками с помощью приюту.</p>
    </div>
</div>
<div class="range range-sm-center spacing-30">
    <div class="cell-sm-3 cell-md-3 cell-lg-3">
        <img src="{{ 'images/logo.jpeg_2.jpg'|media }}" alt="" width="162" height="179">
    </div>
    <div class="cell-sm-6 cell-md-6 cell-lg-6">
        <img class="img-responsive" src="{{ 'images/logo-bukvoed.png'|media }}" alt="">
    </div>
</div>