<div class="range range-sm-center spacing-30">
    <div class="cell-sm-4 cell-md-4 cell-lg-4">
        <img class="img-responsive" src="{{ 'images/logo-bspb-ru.png'|media }}" alt=""
             width="370" height="272">
    </div>
    <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
        <p><b>Банк "Санкт-Петербург"</b></p>
        <p>Через систему <a href="https://i.bspb.ru/">интернет-банк</a> можно сделать
            благотворительный взнос в пользу
            АНО "Помощь бездомным собакам".</p>

        <p>Денежные средства в тот же день перечисляются на расчетный счет АНО.</p>
        <p>Отчеты о полученных пожертвованиях регулярно размещаются на страницах
            сайта.</p>
    </div>
</div>
<div class="range range-sm-center spacing-30">
    <div class="cell-sm-4 cell-md-4 cell-lg-4">
        <img class="img-responsive" src="{{ 'images/pskb.jpg'|media }}" alt=""
             width="370" height="272">
    </div>
    <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
        <p><b>Банк "ПСКБ"</b></p>
        <p>"Веб-кошелек" от банка "ПСКБ" - платежная система, с помощью которой можно
            осуществлять оплату без комиссии - не выходя из дома или прямо с мобильного
            телефона.</p>

        <p>Узнать, что такое Веб-кошелек, как его создать и пополнить можно на сайте <a
                href="https://webpay.pscb.ru/">Банка «ПСКБ».</a></p>
    </div>
</div>
<div class="range range-sm-center spacing-30">
    <div class="cell-sm-4 cell-md-4 cell-lg-4">
        <img class="img-responsive" src="{{ 'images/uralsib.jpg'|media }}" alt=""
             width="370" height="272">
    </div>
    <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
        <p><b>Банк "Уралсиб"</b></p>
        <p>
            На сайте <a href="https://oplata.uralsibbank.ru">https://oplata.uralsibbank.ru</a>
            возможна оплата по карте, выпущенной ОАО "УРАЛСИБ". Выбираете вкладку
            "Региональные услуги" из выпадающего списка выбираете благотворительность и
            АНО "Помощь бездомным животным".
        </p>

        <p><a href="http://priut.ru/page325.html">Отчеты</a> о полученных пожертвованиях
            регулярно размещаются на страницах сайта.</p>
    </div>
</div>