<div class="cell-md-10 cell-lg-8">

    <div class="range range-sm-center spacing-30">
        <div class="cell-sm-4 cell-md-4 cell-lg-4">
            <img class="img-responsive" src="{{ 'images/yandex.jpg'|media }}" alt=""
                 width="370" height="272">
        </div>
        <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
            <p>Яндекс.Касса - прием пожертвований с банковских карт, яндекс.деньги, сбербанк.онлайн.
                Средства перечисляются на счет БФ "Помощь бездомным собакам".</p>
        </div>
    </div>

    <div class="range range-sm-center spacing-30">
        <div class="cell-sm-4 cell-md-4 cell-lg-4">
            <img class="img-responsive" src="{{ 'images/sms.jpg'|media }}" alt=""
                 width="370" height="272">
        </div>
        <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
            <p>Для осуществления пожертвования необходимо отправить СМС вида: «ПБС» пробел «сумма пожертвования» на
                номер 7715 , например ПБС 100
            </p>
            <p>
                Услуга доступна для абонентов «Билайн», «МегаФон», «МТС», «Теле2».
            </p>
            <p>Стоимость отправки СМС для абонентов «Билайн» и «Теле2» - бесплатно; «МегаФон» и «МТС» - согласно тарифному плану абонента.
            </p>
            <p>После отправки СМС абонент получает СМС от своего сотового оператора с просьбой подтвердить платеж. После списания денежных средств приходит СМС об успешном платеже от сотового оператора, а также с номера 7715.
            </p>
            <p>Подробнее о правилах отправки СМС - <a href="http://www.sms7715.ru/rules">http://www.sms7715.ru/rules</a>
            </p>
        </div>
    </div>

    <div class="range range-sm-center spacing-30">
        <div class="cell-sm-4 cell-md-4 cell-lg-4">
            <img class="img-responsive" src="{{ 'images/paypal.jpg'|media }}" alt=""
                 width="370" height="272">
        </div>
        <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
            <p>Система PayPal позволяет быстро и безопасно отправлять средства в Интернете. Перевод можно осуществить с личного счета в PayPal либо с банковской карты.
            </p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input name="cmd" value="_s-xclick" type="hidden"> <input name="hosted_button_id" value="58N34BPWEFET8" type="hidden"> <input src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!" type="image" border="0"> <img alt="" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" height="1" border="0" width="1">
            </form>
        </div>
    </div>

    <div class="range range-sm-center spacing-30">
        <div class="cell-sm-4 cell-md-4 cell-lg-4">
            <img class="img-responsive" src="{{ 'images/qiwi.png'|media }}" alt=""
                 width="370" height="272">
        </div>
        <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
            <p>Номер QIWI кошелька 79111108511
            </p>
            <p>Просто</p>
            <p>Пополнить счет можно c помощью терминала, мобильного телефона или банковской карты</p>
            <p>Легко</p>
            <p>Не нужно запоминать сложные номера счетов и пароли. Достаточно номера мобильного
            </p>
            <p>Безопасно</p>
            <p>Благодаря партнерству с системой Visa ваши платежи надежно защищены
            </p>
        </div>
    </div>

    <div class="range range-sm-center spacing-30">
        <div class="cell-sm-4 cell-md-4 cell-lg-4">
            <img class="img-responsive" src="{{ 'images/1_6220.jpg'|media }}" alt=""
                 width="370" height="272">
        </div>
        <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
            <p>Номер Яндекс кошелька: 41001134397194
            </p>
            <p><b>В салоне сотовой связи Евросеть можно положить деньги на кошелек без комиссии!</b><p>
            <p>Если у Вас есть электронный кошелек, Вы можете воспользоваться формой отправки денег:</p>
            <form style="margin: 0px; padding: 0px;" action="https://money.yandex.ru/charity.xml" method="post">
                <input value="41001134397194" name="to" type="hidden"><input value="БФ &quot;Помощь бездомным собакам&quot;" name="CompanyName" type="hidden"><input value="http://www.priut.ru" name="CompanyLink" type="hidden">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td>
                            <div style="background: url(&quot;https://img.yandex.net/i/li-uncolorer-rt.gif&quot;) no-repeat right top rgb(255, 255, 255);">
                                <div style="background: transparent url(&quot;https://img.yandex.net/i/li-uncolorer-rb.gif&quot;) no-repeat scroll right bottom;">
                                    <div style="background: transparent url(&quot;https://img.yandex.net/i/li-uncolorer-lb.gif&quot;) no-repeat scroll left bottom;">
                                        <div style="background: url(&quot;https://img.yandex.net/i/li-uncolorer-lt.gif&quot;) no-repeat left top; padding: 10px 0px 0px 10px; margin-right: 10px;">
                                            <table style="" cellspacing="0" cellpadding="0" border="0">
                                                <tbody style="">
                                                <tr>
                                                    <td style="">
                                                        <table style="" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody style="">
                                                            <tr style="">
                                                                <td><input style="margin-right: 5px;" value="Отправить" type="submit"></td>
                                                                <td><input id="CompanySum" style="margin-right: 5px;" size="4" value="70" name="CompanySum" type="text"></td>
                                                                <td style="font: 80% Verdana,Arial,Geneva CY,sans-serif;" nowrap="nowrap" valign="bottom"><strong>рублей Яндекс.Деньгами</strong></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td rowspan="3" valign="bottom" width="90"><a href="http://money.yandex.ru/"><img style="margin-left: 5px;" alt="" src="http://www.yandex.ru/redir?dtype=stred&amp;pid=41&amp;cid=1253&amp;url=https://img.yandex.net/i/ym-logo.gif" height="39" border="0" width="90"></a></td>
                                                </tr>
                                                <tr style="">
                                                    <td style="font: 80% Verdana,Arial,Geneva CY,sans-serif;" nowrap="nowrap">на счёт <span style="color: rgb(0, 102, 0); font-weight: bold;">41001134397194</span>&nbsp;(<a href="http://www.priut.ru"><span style="color: rgb(102, 102, 102); text-decoration: underline;">БФ "Помощь бездомным собакам"</span></a>)</td>
                                                </tr>
                                                <tr>
                                                    <td><img alt="" src="https://img.yandex.net/i/x.gif" height="10" width="1"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                &nbsp;<br>
            </form>
        </div>
    </div>

    <div class="range range-sm-center spacing-30">
        <div class="cell-sm-4 cell-md-4 cell-lg-4">
            <img class="img-responsive" src="{{ 'images/webmoney.jpg'|media }}" alt=""
                 width="370" height="272">
        </div>
        <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
            <p>в рублях R366921777634
            </p>
            <p>в долларах Z419688817140
            <p>
        </div>
    </div>

    <article class="box-inset">
        <h4>Your Donation</h4>
        <ul class="inline-list-lg">
            <li>
                <label class="checkbox-inline">
                    <input type="checkbox" name="check-1" checked=""
                           class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>Make a monthly sustaining
                    donation
                </label>
            </li>
            <li>
                <label class="checkbox-inline">
                    <input type="checkbox" name="check-2" class="checkbox-custom"><span
                        class="checkbox-custom-dummy"></span>Make a one-time donation
                </label>
            </li>
        </ul>
        <p class="h7">Select gift amount</p>
        <ul class="inline-list-sm">
            <li>
                <label class="radio-inline">
                    <input name="radio-group-1" type="radio" checked=""
                           class="radio-custom"><span
                        class="radio-custom-dummy"></span>$5 / mo
                </label>
            </li>
            <li>
                <label class="radio-inline">
                    <input name="radio-group-1" type="radio" class="radio-custom"><span
                        class="radio-custom-dummy"></span>$10 / mo
                </label>
            </li>
            <li>
                <label class="radio-inline">
                    <input name="radio-group-1" type="radio" class="radio-custom"><span
                        class="radio-custom-dummy"></span>$20 / mo
                </label>
            </li>
            <li>
                <label class="radio-inline">
                    <input name="radio-group-1" type="radio" class="radio-custom"><span
                        class="radio-custom-dummy"></span>$30 / mo
                </label>
            </li>
            <li>
                <label class="radio-inline">
                    <input name="radio-group-1" type="radio" class="radio-custom"><span
                        class="radio-custom-dummy"></span>$40 / mo
                </label>
            </li>
            <li>
                <label class="radio-inline">
                    <input name="radio-group-1" type="radio" class="radio-custom"><span
                        class="radio-custom-dummy"></span>$50 / mo
                </label>
            </li>
            <li>
                <label class="radio-inline">
                    <input name="radio-group-1" type="radio" class="radio-custom"><span
                        class="radio-custom-dummy"></span>$100 / mo
                </label>
            </li>
        </ul>
    </article>
</div>
<h4>Your information</h4>
<div class="range range-sm-center spacing-55">
    <div class="cell-md-10 cell-lg-8">
        <form class="rd-mailform" novalidate="novalidate">
            <div class="range range-sm-bottom spacing-20">
                <div class="cell-sm-6">
                    <div class="form-group">
                        <input class="form-control form-control-has-validation"
                               id="donate-form-first-name"
                               type="text" name="first-name"
                               data-constraints="@Required"><span
                            class="form-validation"></span>
                        <label class="form-label rd-input-label"
                               for="donate-form-first-name">First Name</label>
                    </div>
                </div>
                <div class="cell-sm-6">
                    <div class="form-group">
                        <input class="form-control form-control-has-validation"
                               id="donate-form-last-name"
                               type="text" name="last-name"
                               data-constraints="@Required"><span
                            class="form-validation"></span>
                        <label class="form-label rd-input-label"
                               for="donate-form-last-name">Last Name</label>
                    </div>
                </div>
                <div class="cell-xs-12">
                    <div class="form-group">
                        <input class="form-control" id="donate-form-company" type="text"
                               name="company-name">
                        <label class="form-label rd-input-label"
                               for="donate-form-company">Company Name (if gift
                            is from a business)</label>
                    </div>
                </div>
                <div class="cell-sm-6">
                    <div class="form-group">
                        <input class="form-control form-control-has-validation"
                               id="donate-form-street-1"
                               type="text" name="street-1" data-constraints="@Required"><span
                            class="form-validation"></span>
                        <label class="form-label rd-input-label"
                               for="donate-form-street-1">Street 1</label>
                    </div>
                </div>
                <div class="cell-sm-6">
                    <div class="form-group">
                        <input class="form-control form-control-has-validation"
                               id="donate-form-street-2"
                               type="text" name="street-2" data-constraints="@Required"><span
                            class="form-validation"></span>
                        <label class="form-label rd-input-label"
                               for="donate-form-street-2">Street 2</label>
                    </div>
                </div>
                <div class="cell-xs-12">
                    <div class="form-group">
                        <input class="form-control form-control-has-validation"
                               id="donate-form-city"
                               type="text" name="city"
                               data-constraints="@Required"><span
                            class="form-validation"></span>
                        <label class="form-label rd-input-label" for="donate-form-city">City</label>
                    </div>
                </div>
                <div class="cell-xs-12">
                    <div class="form-group">
                        <!--Select 2-->
                        <select class="form-control select-filter select2-hidden-accessible form-control-has-validation"
                                data-placeholder="State/Province"
                                data-minimum-results-for-search="Infinity"
                                data-constraints="@Required" name="state-province"
                                tabindex="-1"
                                aria-hidden="true" id="regula-generated-38804">
                            <option>State/Province</option>
                            <option value="1">State 1</option>
                            <option value="2">Province 1</option>
                            <option value="3">State 2</option>
                        </select><span class="form-validation"></span><span
                            class="select2 select2-container select2-container--bootstrap"
                            dir="ltr"
                            style="width: 760px;"><span class="selection"><span
                            class="select2-selection select2-selection--single"
                            role="combobox"
                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                            aria-labelledby="select2-state-province-tb-container"><span
                            class="select2-selection__rendered"
                            id="select2-state-province-tb-container"
                            title="State/Province">State/Province</span><span
                            class="select2-selection__arrow"
                            role="presentation"><b
                            role="presentation"></b></span></span></span><span
                            class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                    </div>
                </div>
                <div class="cell-xs-12">
                    <div class="form-group">
                        <input class="form-control form-control-has-validation"
                               id="donate-form-code"
                               type="text" name="code"
                               data-constraints="@Required"><span
                            class="form-validation"></span>
                        <label class="form-label rd-input-label" for="donate-form-code">ZIP/Postal
                            Code</label>
                    </div>
                </div>
                <div class="cell-xs-12">
                    <div class="form-group">
                        <!--Select 2-->
                        <select class="form-control select-filter select2-hidden-accessible form-control-has-validation"
                                data-placeholder="Country"
                                data-minimum-results-for-search="Infinity"
                                data-constraints="@Required" name="country"
                                tabindex="-1" aria-hidden="true"
                                id="regula-generated-767593">
                            <option>Country</option>
                            <option value="1">Country 1</option>
                            <option value="2">Country 2</option>
                            <option value="3">Country 3</option>
                        </select><span class="form-validation"></span><span
                            class="select2 select2-container select2-container--bootstrap"
                            dir="ltr"
                            style="width: 760px;"><span class="selection"><span
                            class="select2-selection select2-selection--single"
                            role="combobox"
                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                            aria-labelledby="select2-country-ua-container"><span
                            class="select2-selection__rendered"
                            id="select2-country-ua-container"
                            title="Country">Country</span><span
                            class="select2-selection__arrow"
                            role="presentation"><b
                            role="presentation"></b></span></span></span><span
                            class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                </div>
                <div class="cell-xs-12">
                    <div class="form-group">
                        <input class="form-control form-control-has-validation"
                               id="donate-form-email"
                               type="email" name="email"
                               data-constraints="@Email @Required"><span
                            class="form-validation"></span>
                        <label class="form-label rd-input-label"
                               for="donate-form-email">Email Address</label>
                    </div>
                </div>
                <div class="cell-xs-12">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="check-1" checked=""
                               class="checkbox-custom"><span
                            class="checkbox-custom-dummy"></span>Yes, I would like to
                        stay informed about Animal
                        Shelter’s work
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="cell-md-10 cell-lg-8">
        <article class="box-inset">
            <h4>Honor and Memorial Gifts</h4>
            <label class="checkbox-inline">
                <input type="checkbox" name="check-3" checked=""
                       class="checkbox-custom"><span
                    class="checkbox-custom-dummy"></span>Yes, this is an honor or
                memorial gift
            </label>
            <h4>PayPal</h4><a class="link link-gray-darker" href="#">What is PayPal?</a>
            <ul class="inline-list-xs">
                <li><a href="#"><img src="images/card-1-63x40.jpg" alt="" width="63"
                                     height="40"></a></li>
                <li><a href="#"><img src="images/card-2-59x40.jpg" alt="" width="59"
                                     height="40"></a></li>
                <li><a href="#"><img src="images/card-3-62x40.jpg" alt="" width="62"
                                     height="40"></a></li>
                <li><a href="#"><img src="images/card-4-62x40.jpg" alt="" width="62"
                                     height="40"></a></li>
            </ul>
        </article>
    </div>
</div>