<div class="range spacing-55">
    <div class="cell-sm-6 cell-md-4">
        <!-- Box icon-->
        <article class="box-icon">
            <figure class="box-icon-image"><a href="#"><img
                    src="{{ 'images/planeta_ru.jpg'|media }}" alt="" width="234"
                    height="218"></a>
            </figure>
            <div class="box-icon-body">
                <h5><a href="#">Все проекты завершены</a></h5>
                <p>Планета.ру - портал, основным сервисом которого является краудфандинг
                    - сотрудничество людей, которые вкладывают свои деньги в различные
                    проекты, в том числе благотворительные.
                    С 2011 года на портале собрано более 460 000 000 руб.

                    На портале размещен проект приюта по сбору средств на расходные
                    материалы для лечения питомцев приюта</p>
                <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </article>
    </div>
    <div class="cell-sm-6 cell-md-4">
        <!-- Box icon-->
        <article class="box-icon">
            <figure class="box-icon-image"><a href="#"><img
                    src="{{ 'images/blago.jpg'|media }}" alt="" width="234"
                    height="218"></a>
            </figure>
            <div class="box-icon-body">
                <h5><a href="#">ИДЕТ СБОР<br/>
                    Собрано 80 830 руб. </a></h5>
                <p>Благо.ру - сайт для людей, готовых помочь. На нем собраны различные
                    некоммерческие организации, прошедшие предварительную юридическую
                    проверку и отчитывающиеся за привлеченные пожертвования.

                    На платформе размещен проект приюта по сбору средств на приобретение
                    кормов, вакцин и прочих вещей, необходимых питомцам приюта.
                </p>
                <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </article>
    </div>
    <div class="cell-sm-6 cell-md-4">
        <!-- Box icon-->
        <article class="box-icon">
            <figure class="box-icon-image"><a href="#"><img
                    src="{{ 'images/18fc4b3e6e52.jpg'|media }}" alt="" width="234"
                    height="218"></a>
            </figure>
            <div class="box-icon-body">
                <h5><a href="#">ИДЕТ СБОР<br/>
                    СОБРАНО 19 455 $ из 25 000 $</a></h5>
                <p>Глобал Гивинг - это онлайн платформа, на которой некоммерческие
                    организации со всего мира собирают пожертвования на свои проекты
                    помощи детям, людям с ограниченными возможностями, животным.

                    На платформе размещен проект приюта по сбору средств на приобретение
                    кормов, вакцин и прочих вещей, необходимых питомцам приюта.</p>
                <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </article>
    </div>
    <div class="cell-sm-6 cell-md-4">
        <!-- Box icon-->
        <article class="box-icon">
            <figure class="box-icon-image"><a href="#"><img
                    src="{{ 'images/1124fbc48eda.jpg'|media }}" alt="" width="234"
                    height="218"></a>
            </figure>
            <div class="box-icon-body">
                <h5><a href="#">ИДЕТ ГОЛОСОВАНИЕ<br/></a></h5>
                <p>
                    Национальная премия "Гражданская инициатива" учреждена
                    некоммерческой организацией "Фонд Кудрина по поддержке гражданских
                    инициатив".
                    Премия ежегодная, проводится по ряду номинаций, в том числе "Зеленая
                    планета" - гражданские инициативы в области охраны окружающей
                    природной среды и защиты животных.
                    Лауреат премии по каждой номинации получает денежный приз в размере
                    200 000 рублей.</p>
                <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </article>
    </div>
</div>