<div class="range range-sm-center spacing-30">
    <div class="cell-sm-4 cell-md-4 cell-lg-4">
        <img class="img-responsive" src="{{ 'images/921da7b0697a.jpg'|media }}" alt=""
             width="370" height="272">
    </div>
    <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
        <p>«Кассира.нет» - имеет ряд отличительных особенностей и преимуществ по
            сравнению с другими платежными системами. Основной упор здесь сделан не
            только на прием сотовых операторов и прочих крупных федеральных провайдеров,
            а на прием локальных платежей – местных коммунальных служб, локальных
            интернет провайдеров, кабельных сетей, оплату учебы, погашение кредитов и
            т.д.</p>
        <p>
            <a href="http://www.pscb.ru/locations/terminals/">Полный список аппаратов
                можно посмотреть здесь.</a><br/>
            <b>Комиссия с платежа не взимается!</b>
        </p>
    </div>
</div>
<div class="range range-sm-center spacing-30">
    <div class="cell-sm-4 cell-md-4 cell-lg-4">
        <img class="img-responsive" src="{{ 'images/baltika.png'|media }}" alt=""
             width="370" height="272">
    </div>
    <div class="cell-sm-8 cell-md-8 cell-lg-8 text-left text-gray-darker">
        <p>Терминалы АКБ «Балтика» — это удобный и оперативный способ оплаты; более 1500
            терминалов в Санкт-Петербурге.
        </p>
        <p><b>Комиссия с платежа не взимается!</b>
        </p>
        <p>В основном меню выберите "Оплата услуг" - "Благотворительность" - "Любимый
            питомец" - "Благотворительный Фонд "Помощь бездомным собакам".
        </p>
    </div>
</div>
<p class="text-center">На страницах сайта размещаются <a
        href="http://priut.ru/page130.html">отчеты
    по приходу средств.</a></p>